img{
    max-width: 100%;
}

table{
    td, th{
        border: 1px solid #ccc !important; 
    }

    margin: 1.5rem 0;
}

.profile {
  img {
    width: 100%;
    max-width: 200px;
    margin: auto;
    display: block;
  }
}
